<form [formGroup]="form">
  <div class="d-flex justify-content-center gap-2">
    <input type="radio" class="btn-check" id="years-group-1" formControlName="year"  [value]="2021">
    <label class="btn btn-outline-primary" for="years-group-1">2021</label>

    <input type="radio" class="btn-check" id="years-group-2" formControlName="year" [value]="2022">
    <label class="btn  btn-outline-primary" for="years-group-2">2022</label>

    <input type="radio" class="btn-check" id="years-group-3" formControlName="year" [value]="2023">
    <label class="btn btn-outline-primary" for="years-group-3">2023</label>

    <input type="radio" class="btn-check" id="years-group-4" formControlName="year" [value]="2024">
    <label class="btn  btn-outline-primary" for="years-group-4">2024</label>

    <input type="radio" class="btn-check" id="years-group-5" formControlName="year" [value]="2025">
    <label class="btn btn-outline-primary" for="years-group-5">2025</label>
  </div>

  <div class="d-flex justify-content-center gap-2 mt-2">
    <input type="radio" class="btn-check" id="months-group-1" formControlName="month" [value]="Month.january">
    <label class="btn btn-sm btn-outline-primary" for="months-group-1">January</label>

    <input type="radio" class="btn-check" id="months-group-2" formControlName="month"  [value]="Month.february">
    <label class="btn btn-sm btn-outline-primary" for="months-group-2">February</label>

    <input type="radio" class="btn-check" id="months-group-3" formControlName="month"  [value]="Month.march">
    <label class="btn btn-sm btn-outline-primary" for="months-group-3">March</label>

    <input type="radio" class="btn-check" id="months-group-4" formControlName="month"  [value]="Month.april">
    <label class="btn btn-sm btn-outline-primary" for="months-group-4">April</label>

    <input type="radio" class="btn-check" id="months-group-5" formControlName="month"  [value]="Month.may">
    <label class="btn btn-sm btn-outline-primary" for="months-group-5">May</label>

    <input type="radio" class="btn-check" id="months-group-6" formControlName="month"  [value]="Month.june">
    <label class="btn btn-sm btn-outline-primary" for="months-group-6">June</label>

    <input type="radio" class="btn-check" id="months-group-7" formControlName="month"  [value]="Month.july">
    <label class="btn btn-sm btn-outline-primary" for="months-group-7">July</label>

    <input type="radio" class="btn-check" id="months-group-8" formControlName="month"  [value]="Month.august">
    <label class="btn btn-sm btn-outline-primary" for="months-group-8">August</label>

    <input type="radio" class="btn-check" id="months-group-9" formControlName="month"  [value]="Month.september">
    <label class="btn btn-sm btn-outline-primary" for="months-group-9">September</label>

    <input type="radio" class="btn-check" id="months-group-10" formControlName="month"  [value]="Month.october">
    <label class="btn btn-sm btn-outline-primary" for="months-group-10">October</label>

    <input type="radio" class="btn-check" id="months-group-11" formControlName="month"  [value]="Month.november">
    <label class="btn btn-sm btn-outline-primary" for="months-group-11">November</label>

    <input type="radio" class="btn-check" id="months-group-12" formControlName="month"  [value]="Month.december">
    <label class="btn btn-sm btn-outline-primary" for="months-group-12">December</label>
  </div>
</form>
