<div class="row">
  <app-accounts-list
    [accounts$]="accounts$"
    (showDetails$)="showAccountDetails($event)"
    (addAccount$)="addAccount()"
    (transfer$)="addTransfer">
  </app-accounts-list>
</div>

<div class="row mt-5">
  <app-transactions-list
    [transactions$]="transactions$"
    [accounts$]="accounts$"
    [transferTransactions$]="transferTransactions$"
    (addTransaction$)="addTransaction()"
    (showDetails$)="showTransactionDetails($event)"
    (showTransferDetails$)="showTransferDetails($event)">
  </app-transactions-list>
</div>

<div class="row mt-5">
  <app-transactions-stats
    [transactions$]="transactions$"
    [accounts$]="accounts$"
    [transferTransactions$]="transferTransactions$">
  </app-transactions-stats>
</div>
