/* You can add global styles to this file, and also import other style files */


$primary: #284b63;
$light: #E9EBEC;
$danger-disabled: #e5a0a8;
$success-disabled: #b5dab5;

/* Importing Bootstrap SCSS file. */
@import "./node_modules/bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";

.clickable {
  cursor: pointer;
}

body {
  background-color: #E9EBEC;
}

.card {
  border: none;
}

.bg-danger-disabled {
  background: $danger-disabled;
}

.bg-success-disabled {
  background: $success-disabled;
}
