<div class="card p-3 border-0">
  <div class="mb-3">
    <h1>Tags</h1>
  </div>
    <ng-container *ngIf="tags$ | async as tags">
      <ng-container *ngIf="tags.length > 0; else noTags">
        <div *ngFor="let tag of tags; index as index">
          <hr *ngIf="index > 0">
          <span class="badge bg-primary" (click)="editTag$.emit(tag.id)">{{tag.name}}</span>
          <div class="mt-1 mx-3">
            <ng-container  *ngFor="let child of tag.children">
              <span class="badge bg-primary" (click)="editTag$.emit(child.id)">{{child.name}}</span>
              &nbsp;
            </ng-container>
            <a class="link-primary clickable" (click)="addChild$.emit(tag.id)">Add child</a>
          </div>
        </div>
      </ng-container>
    </ng-container>
    <ng-template #noTags>
      You haven't created any tag yet
    </ng-template>
    <button class="btn btn-primary mt-3" (click)="addTag$.emit()">Add tag</button>
</div>


