<div class="card p-3 border-0">
  <div class="mb-3">
    <h1>Statistics</h1>
  </div>
  <ng-container *ngIf="transactions$ | async as transactions; else noTransactions">
    <ng-container *ngIf="transactions.length > 0; else noTransactions">
      <ng-container *ngIf="statsModel$ | async as stats">
        <h3>Balance:
          <span [ngClass]="stats.balance > 0 ? 'text-success': 'text-danger'">
      {{stats.balance | number: '1.2-2'}} PLN
      </span>
        </h3>
        <br>

        <table class="table mt-3">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Tag</th>
            <th scope="col">Amount</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let tag of stats.tags; index as i">
            <th scope="row">{{i+1}}</th>
            <td>{{tag.name}}</td>
            <td>
          <span [ngClass]="tag.balance > 0 ? 'text-success': 'text-danger'">
            {{tag.balance | number: '1.2-2'}} PLN
          </span>
              ({{tag.percentageOfTotal | number: '1.2-2'}}%)
            </td>
          </tr>
          </tbody>
        </table>
      </ng-container>
    </ng-container>
  </ng-container>
  <ng-template #noTransactions>
    No transactions yet to calculate statistics
  </ng-template>
</div>
