<div class="card p-3 border-0">
  <div class="mb-3">
    <h1>Transactions</h1>
  </div>
  <ng-container *ngIf="transactions$ | async as transactions">
    <ng-container *ngIf="transactions.length === 0; else transactionsList">
      You have no transactions yet.
    </ng-container>
  </ng-container>

  <ng-template #transactionsList>
    <table class="table table-hover">
      <thead>
      <tr>
        <th scope="col">Account</th>
        <th scope="col">Name</th>
        <th scope="col">Amount</th>
        <th scope="col">Date</th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngIf="transactions$ | async as transactions">
        <ng-container *ngIf="accounts$ | async as accounts">
          <ng-container *ngIf="transferTransactions$ | async as transferTransactions">
            <tr *ngFor="let transaction of transactions" (click)="showDetails(transaction, transferTransactions)" class="clickable">
              <td>{{getAccountName(transaction.accountId, accounts)}}</td>
              <td>
                {{getTransactionName(transaction, transferTransactions, accounts)}}
                <ng-container *ngFor="let tag of transaction.tags" >
                  <span class="badge bg-primary">
                    {{tag.name}}
                  </span>
                  &nbsp;
                </ng-container>
              </td>
              <td [ngClass]="getColorForType(transaction.type)">
                {{transaction.amount | number: '1.2'}}
                {{getAccountCurrency(transaction.accountId, accounts) | currencyName }}
              </td>
              <td>{{transaction.date | date: 'dd-MM-yyyy'}}</td>
            </tr>
          </ng-container>
        </ng-container>
      </ng-container>
      </tbody>
    </table>
  </ng-template>
  <button class="btn btn-primary" (click)="addTransaction$.emit()">Add transaction</button>

</div>
